* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    236deg,
    rgba(28, 61, 248, 0.9) 0%,
    rgba(35, 139, 224, 0.9) 100%
  );
  background-repeat: no-repeat;
  color: white;
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 1.6rem;
}

form,
header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
.submit {
  padding: 0.6rem;
  font-size: 1.6rem;
  border: none;
  background-color: white;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
form .submit {
  color: rgba(0, 105, 190, 0.9);
  cursor: pointer;
  transition: all 0.3s ease;
}
form .submit:hover {
  color: white;
  background-color: rgba(0, 105, 190, 0.9);
}
form input:focus {
  outline: none;
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complet,
.delete {
  background: rgba(0, 105, 190, 1);
  color: white;
  font-size: 1.3rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.complet:hover,
.delete:hover {
  background: white;
  color: rgba(0, 105, 190, 0.9);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-check-circle,
.fa-minus-circle {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(-26deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgba(0, 105, 190, 1);
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgba(0, 105, 190, 0.9);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  color: rgba(1, 72, 131, 1);
  background: white;
}
